version: "3.8"

services:
  app:
    build: .
    image: task-tracker
    container_name: task-tracker-api
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: ["npm", "run", "start"]
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

volumes:
  postgres-data:
